body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  text-align: left;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 12px;
}

.main-container {
  background-color: #fbe5d6;
  height: 100vh;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  background: #f0b7b7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ecc4c4, #7cafba); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ecc4c4, #7cafba); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ecc4c4, #7cafba); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ecc4c4, #7cafba); /* Standard syntax */
}

.main-box-header {
  color: white;
  font-family: 'Arvo', serif;
  font-size: 36px;
  font-weight: bold;
}

.main-row1 {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main-row2 {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main-row3 {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main-row1-box1 {
  border: 2px solid green;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.main-row1-box2 {
  border: 2px solid green;
  flex: 1
}

.main-row2-box1 {
  border: 2px solid green;
  flex: 1
}

.main-row2-box2 {
  border: 2px solid green;
  flex: 1
}

.main-row3-box1 {
  border: 2px solid green;
  flex: 1.8
}

.main-row3-box2 {
  border: 2px solid green;
  flex: 1
}
