.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

h4 {
  color: black;
  padding: 0;
  margin-top: 0;
  margin-top: 5px;
  font-size: 9px;
  letter-spacing: 3px;
  font-weight: bold;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.tab-container:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.tab-container:active{
  transform: scale(1.0);
}

.tab-icon {
  margin-top: 0;
  height: 16px;
  width: 16px;
  background-color: #f6e3f1;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border: 2px solid gray;
}
